html {
  margin: 0px;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

a img {
  outline: none;
  border: none;
}

.icon-loading {
  background-image: url("img/loading.gif");
  background-repeat: no-repeat;
  background-position: center 0px;
  display: inline-block;
  width: 24px;
  height: 16px;
}

@media screen and (min-width: 600px) {
  .compact-only {
    display: none;
  }
}

.left-column {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  padding: 10px;
  height: 100%;
  z-index: 15;
  background-color: white;
  text-align: center;
  overflow: auto;
}
.left-column.sidebar_out {
  left: 0px;
}
.left-column .logo {
  width: 171px;
  height: 127px;
}
.left-column #tot_cnx {
  position: absolute;
  top: 20px;
  left: 12px;
}
@media screen and (min-width: 600px) {
  .left-column #tot_cnx {
    left: 24px;
  }
}
.left-column #nb_cnx {
  position: absolute;
  top: 20px;
  right: 58px;
}
@media screen and (min-width: 600px) {
  .left-column #nb_cnx {
    right: 24px;
  }
}
.left-column .nav {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  clear: both;
  display: block;
}
.left-column .nav .is_me {
  background-color: #f0f0f0;
  border: 1px solid #787878;
  border-radius: 3px;
}
.left-column .nav li {
  margin-right: 2px;
}
.left-column .nav li .avatar {
  height: 24px;
  border-radius: 12px;
  margin-bottom: 5px;
}
.left-column .nav li a {
  padding: 0 2px;
}
@media screen and (max-width: 600px) {
  .left-column {
    left: -220px;
    border-right: 1px solid #e6e6e6;
    background-color: #fafafa;
  }
  .left-column .logo {
    width: 145px;
    height: auto;
    margin-left: -15px;
  }
}
.left-column .btn {
  width: 170px;
  margin-bottom: 10px;
}
.left-column .btn i {
  margin-right: 3px;
  margin-left: -10px;
}
.left-column #btn-copy {
  height: 32px;
  filter: invert(1);
}
.left-column .compact-only {
  width: auto;
  float: right;
}
.left-column .compact-only i {
  margin: auto;
}

.right-column, .title-bar, .chat-box {
  width: 530px;
}
@media screen and (min-width: 1000px) {
  .right-column, .title-bar, .chat-box {
    width: 742px;
  }
}
@media screen and (max-width: 767px) {
  .right-column, .title-bar, .chat-box {
    width: 353.3333333333px;
  }
}
@media screen and (max-width: 365px) {
  .right-column, .title-bar, .chat-box {
    width: 291.5px;
  }
}

.right-column {
  position: absolute;
  top: 0px;
  left: 225px;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .right-column {
    left: 5px;
  }
}

.title-bar {
  position: fixed;
  top: 0px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  line-height: 60px;
  /*
  @media screen and (min-width: $narrow) {
  	h1 {
  		font-size: 50px;
  		height: 80px;
  		line-height: 80px;
  	}
  }
  */
}
.title-bar h1 {
  display: block;
  font-size: 25px;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-bar button {
  margin: 5px 5px 10px 5px;
  float: left;
}
.title-bar button img {
  margin-bottom: 2px;
}

.messages-box {
  position: relative;
  top: 100px;
  padding-bottom: 80px;
  color: #646464;
}
.messages-box .message {
  border-bottom: 1px solid #e6e6e6;
  padding: 3px 0px;
  margin: 1px 0px;
}
.messages-box .message .avatar {
  border-radius: 32px;
  height: 24px;
  display: inline-block;
}
.messages-box .message .system {
  display: inline;
}
.messages-box .message .sender {
  overflow: hidden;
  display: inline;
  text-align: right;
}
.messages-box .message .sender .danger {
  display: inline;
}
.messages-box .message .sender .system {
  display: inline;
}
.messages-box .message .sender small {
  opacity: 0.75;
}
.messages-box .message .sender small:before {
  content: " ";
  display: inline;
}
.messages-box .message .sender small:after {
  content: " ";
  display: inline;
}
.messages-box .message .sender small .danger {
  text-align: center;
  float: none;
}
.messages-box .message .message-text {
  text-align: right;
  margin-left: 0px;
  display: block;
}
@media screen and (max-width: 767px) {
  .messages-box .message .message-text {
    text-align: right;
  }
}
.messages-box .message .message-text .danger {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .messages-box .message .message-text .danger {
    text-align: center;
  }
}
.messages-box .message .message-text input {
  margin: 3px 0;
  width: 100%;
}
.messages-box .message .message-text button > img {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}
.messages-box .message .text-message.system {
  display: inline;
}
.messages-box .is_me .message-text, .messages-box .is_me .sender, .messages-box .is_me small {
  text-align: left;
}
.messages-box .icon-loading {
  width: 99%;
}

.chat-box {
  margin: 0px;
  position: fixed;
  bottom: 2px;
  background-color: white;
  padding-top: 5px;
  text-align: center;
}
.chat-box textarea {
  max-height: 62px;
  min-height: 62px;
  max-width: 400px;
  min-width: 400px;
  padding: 5px;
}
@media screen and (min-width: 1000px) {
  .chat-box textarea {
    max-width: 612px;
    min-width: 612px;
  }
}
@media screen and (max-width: 767px) {
  .chat-box textarea {
    max-width: 263.3333333333px;
    min-width: 263.3333333333px;
  }
}
@media screen and (max-width: 365px) {
  .chat-box textarea {
    max-width: 211.5px;
    min-width: 211.5px;
  }
}
.chat-box input[type=submit] {
  width: 130px;
  float: right;
  height: 62px;
}
@media screen and (max-width: 767px) {
  .chat-box input[type=submit] {
    width: 80px;
  }
}
@media screen and (max-width: 365px) {
  .chat-box input[type=submit] {
    width: 60px;
  }
}
.chat-box .btn-large {
  margin-bottom: 10px;
}

.icon-white {
  color: #fff;
}

.color-0 {
  color: #960000 !important;
}

.color-1 {
  color: #4a7f00 !important;
}

.color-2 {
  color: #004a96 !important;
}

.color-3 {
  color: #7f007f !important;
}

.color-4 {
  color: #007f96 !important;
}

.color-5 {
  color: #7f4a00 !important;
}

.color-null {
  opacity: 0.75;
  text-align: right;
  background-color: #f7f7f7;
}

.messages-box .message.color-null .avatar, .messages-box .message.color-null .sender {
  float: right;
  margin-left: 5px;
}
.messages-box .message.color-null .message-text {
  display: inline;
}

.messages-box .message.color-null.danger .avatar, .messages-box .message.color-null.danger .sender {
  float: unset;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.maroon {
  background-color: maroon;
}

.black {
  background-color: black;
}

.magenta {
  background-color: fuchsia;
}

.cyan {
  background-color: aqua;
}

.aquamarine {
  background-color: aquamarine;
}

.orange {
  background-color: orange;
}

.indigo {
  background-color: indigo;
}

.lightslateblue {
  background-color: #736aff;
}

.blueribbon {
  background-color: #306eff;
}

.olive {
  background-color: olive;
}

.sienna {
  background-color: sienna;
}

.brown {
  background-color: brown;
}

.tan {
  background-color: tan;
}

.navy {
  background-color: navy;
}

.teal {
  background-color: teal;
}

.lime {
  background-color: lime;
}

.chartreuse {
  background-color: chartreuse;
}

.lavender {
  background-color: lavender;
}

.gold {
  background-color: gold;
}

.blue {
  background-color: BLue;
}

.red {
  background-color: Red;
}

.yellow {
  background-color: Yellow;
}

.green {
  background-color: Green;
}

.purple {
  background-color: Purple;
}

.pink {
  background-color: Pink;
}

.maroon {
  background-color: Maroon;
}

.black {
  background-color: Black;
}

.magenta {
  background-color: Magenta;
}

.cyan {
  background-color: Cyan;
}

.aquamarine {
  background-color: Aquamarine;
}

.orange {
  background-color: Orange;
}

.indigo {
  background-color: Indigo;
}

.gray {
  background-color: Gray;
}

.silver {
  background-color: Silver;
}

.olive {
  background-color: Olive;
}

.sienna {
  background-color: Sienna;
}

.brown {
  background-color: Brown;
}

.tan {
  background-color: Tan;
}

.navy {
  background-color: Navy;
}

.teal {
  background-color: Teal;
}

.lime {
  background-color: Lime;
}

.chartreuse {
  background-color: Chartreuse;
}

.lavender {
  background-color: Lavender;
}

.gold {
  background-color: Gold;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
  padding-right: 5px !important;
  text-align: center !important;
}

.modal .username, .modal .chatpass {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
